name: CI/CD with Github Actions

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

            - name: Setup Java JDK 21
              uses: actions/setup-java@v3
              with:
                  java-version: '21'
                  distribution: 'corretto'
                  cache: maven

            - name: Build application jar
              working-directory: ./
              run: mvn clean install

            - name: Build Docker image
              uses: docker/build-push-action@v2
              with:
                context: .
                dockerfile: Dockerfile
                push: true
                tags: |
                    ${{ secrets.DOCKER_HUB_USERNAME }}/finance-app-backend:latest
                    ${{ secrets.DOCKER_HUB_USERNAME }}/finance-app-backend:${{ github.run_id }}

    # deploy:
    #     needs: build
    #     runs-on: self-hosted
    #     steps:
    #         - name: Update application image on VM
    #           run: |
    #             cd /root
    #             sudo docker compose pull finance-app-backend
    #             sudo docker compose rm -fs finance-app-backend
    #             sudo docker compose up -d finance-app-backend